#nav {
  margin-bottom: 40px;
  top: 0;
  position: sticky;
  height: 80px;
  width: 100%;
  padding-top: 40px;
  padding-right: 40px;
}

#nav i {
  color: #b49996;
  text-align: right;
}

.hamburger-menu {
  text-align: right;
}

.menu-items {
  height: 100vh;
  background-color: #b49996;
  opacity: 0.3;
}

#nav ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
}

#nav li a {
  text-decoration: none;
}
